@import url(//fonts.googleapis.com/css?family=Nanum+Gothic);
@import url(//fonts.googleapis.com/css?family=Galada);

.centering{
margin:0 auto
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#quote-box{
  transition: 1s;
}
.center-text{
  margin-top:65px;
  box-sizing:border-box;
}
.text-quote{
  font-family: 'Galada', cursive;

}
#boxy{
  width: 950px;
  height: 400px;
  transition: 1s;
}
#author{
  font-family: 'Nanum Gothic', sans-serif;
}
.text-body{
  transition: 1s;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
body{auto 0nsition: 1s;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
